@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about me <a href="https://www.daryltejares.com" target="_blank"> www.daryltejares.com</a>.</p>
</div>
 